/*mobile Style*/

@media screen and (min-width:450px){
   #btnNavVerkehr, #btnNavMiete, #btnNavFamilie{
    background-size:80% 80%;
  }
}
@media screen and (min-width:576px){
  main{
    margin:-8% 0 0 0;
  }
  .left{
    display:block;
  }
   #btnNavVerkehr, #btnNavMiete, #btnNavFamilie{
    background-size:90% 90%;
  }
  #navTop{
    margin-top:-11.5%;
  }
  #buerozeiten{
    width:8rem;
    height:8rem;
    margin-left:-2rem;
  }
  #imgEmail{
    width:5rem;
    margin-left:-0.75rem;
    height:4rem;
  }
}

@media screen and (min-width:630px){
  #banner{
    padding:0 0 16% 0;
  }
  #titleBanner{    
    height:14rem;    
  }
  #logo1{
    position:absolute;
    width:7rem;
    padding:0 0 40% 0; 
    margin:4% 0 0 0;

  }
  #navTop{
    margin:-14% 0 0 0;
  }
}
@media screen and (min-width:700px){
  #banner{
    padding:0 0 13% 0;
  }
  #titleBanner{ 
    width:100%;
    padding:0 0 23% 0;
  }
  #logo1{  
    width:6rem;
    padding:0 0 30% 0;
  }
  #navTop{
    margin:-10% 0 0 0;
  }
}
@media screen and (min-width:768px){
    
    #asideLeft{
        display:block;
    }
    #sandwich{
        display:none;
    }
}
@media screen and (min-width:900px){
  #logo1{    
    margin-top:5%;
    width:8rem;
  }
  #navAsideLeft{
      font-size:1.0rem;
  }
}

@media screen and (min-width:1000px){
  #titleBanner{ 
      padding:0 0 24% 0;
  }
  #logo1{
    width:9rem;
  }
}


@media screen and (min-width:1200px){
  #logo1{    
    width:10rem;    
  }
  #navAsideLeft{
      font-size:1.2rem;
  }
}/**/
