<nav class="nav flex-column list-group" id="asideLeft" ng-controller="asideLeft">
  
    <a class="nav-link list-group-item btn-outline-secondary aAsideNav" id="home" href="#/home">Home</a>
    <a class="nav-link list-group-item btn-outline-secondary aAsideNav dropdown-toggle" id="kanzlei" ng-click="toggleKanzlei()">Kanzlei</a>
    <div id="toggleKanzlei">         
        <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/schwerpunkte" id="taetigSchwerp">Schwerpunkte</a>
        <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/leistungen">Leistungen</a>
        <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/team">Team</a>  
    </div>    
    <a class="nav-link list-group-item btn-outline-secondary aAsideNav dropdown-toggle" id="kontakt" ng-click="toggleKontakt()">Kontakt</a>      
    <div id="toggleKontakt">
        <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/email" id="email">Emailformular</a>
        <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/anfahrt" id="anfahrt">Anfahrt</a>
    </div>     
    <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/impressum">Impressum</a>
    <a class="nav-link list-group-item btn-outline-secondary aAsideNav" href="#/datenschutz">Datenschutz</a>
</nav><!--end NavSite-->


		